%p#notice= notice
%h1 Readers
%table
  %thead
    %tr
      %th Avatar
      %th First name
      %th Last name
      %th Second name
      %th Birthdate
      %th{:colspan => "3"}
  %tbody
    - @readers.each do |reader|
      %tr
        %td= image_tag(reader.avatar_url(:thumb).to_s, class: 'img-rounded')
        %td= reader.first_name
        %td= reader.last_name
        %td= reader.second_name
        %td= reader.birthdate
        %td= link_to 'Show', reader
        - if current_reader.admin?
          %td= link_to 'Edit', edit_reader_path(reader)
          %td= link_to 'Destroy', reader, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Reader', new_reader_path
