%p#notice= notice
= image_tag(@reader.avatar_url(:thumb).to_s, class: "avatar")
%p
  %strong First name:
  = @reader.first_name
%p
  %strong Last name:
  = @reader.last_name
%p
  %strong Second name:
  = @reader.second_name
%p
  %strong Birthdate:
  = @reader.birthdate
- if current_reader.admin?
  = link_to 'Edit', edit_reader_path(@reader)
= link_to 'Back', readers_path
