%p#notice= notice
.flex-container
  .left-container
    = image_tag(@author.photo_url(:thumb).to_s)
    .actions.btn-group
      = link_to 'Edit', edit_author_path(@author), class: 'btn btn-success btn-responsive'
      = link_to 'Back', authors_path, class: 'btn btn-danger btn-responsive'
  .right-container
    .header
      %h1= author_fullname(@author.first_name, @author.second_name,@author.last_name)
    %hr.my-hr
    .content
      = @author.biography

