= form_for publisher, validate: true  do |f|
  .field
    = f.label :publisher_name
    = f.text_field :publisher_name
  .field
    = f.label :publisher_logo
    = f.file_field :publisher_logo
  .field
    = f.label :publisher_location
    = f.text_field :publisher_location
  .actions
    = f.submit
