%p#notice= notice
%p
  %strong Publisher logo:
  = image_tag(@publisher.publisher_logo_url.to_s)
  \%&gt;
%p
  %strong Publisher name:
  = @publisher.publisher_name
%p
  %strong Publisher location:
  = @publisher.publisher_location
= link_to 'Edit', edit_publisher_path(@publisher)
|
= link_to 'Back', publishers_path
