= nested_form_for book do |f|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :date_of_publication
    = f.text_field :date_of_publication, class: 'datepicker'
  - if @book.genres.exists?
    .field
    = f.label :genres
    = @book.genres.collect{|g| g.genre_name}.join(', ')
  .field
    = f.label :annotation
    = f.text_area :annotation
  .field
    = f.label :volume
    = f.number_field :volume, min:0
  .field
    = f.label :language
    = f.select :language, ApplicationRecord::LANGUAGES, include_blank: true
  .field
    = f.label :cover
    = f.file_field :cover
  - if action_name != 'edit'
    .field
      = f.label :book_file
      = f.file_field :book_file
  .field
    = f.label :genres
    = f.select :genre_ids, Genre.all.collect{|g| [g.genre_name, g.id]}, {}, multiple: true
  .field
    = f.label :authors
    = f.select :author_ids, Author.all.select{|a| !a.books.exists?(@book.id)}.collect{|a| [a.first_name+' '+a.last_name, a.id]}, {}, multiple: true
  .field
    = f.label :publishers
    = f.select :publisher_ids, Publisher.all.select{|p| !p.books.exists?(@book.id)}.collect{|p| [p.publisher_name, p.id]}, {}, multiple: true
  = render 'author_fields', book: f
  = render 'publisher_fields', book: f
  .actions
    = f.submit
