= book.fields_for :publishers do |publisher|
  .duplicatable_nested_form#publisher
    .field
      = publisher.label :publisher_name
      = publisher.text_field :publisher_name
    .field
      = publisher.label :publisher_logo
      = publisher.file_field :publisher_logo
    .field
      = publisher.label :publisher_location
      = publisher.text_field :publisher_location
