%p#notice= notice
%h1 Books
- @books.each do |book|
  .book.flex-container
    .left-container
      = image_tag(book.cover_url(:thumb).to_s, class: "shadowed")
    .right-container
      .header
        = book.title
        .actions.btn-group
          = link_to 'Show', book, class: 'btn btn-success btn-responsive'
          = link_to 'Edit', edit_book_path(book), class: 'btn btn-success btn-responsive'
          = link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-responsive'
      .content
        = book.date_of_publication
        = book.genres.collect{|g| g.genre_name}.join(", ")
        = book.annotation
        = book.volume
        = book.language
%br/
= link_to 'New Book', new_book_path
