%p#notice= notice
.flex-container
  .left-container
    = image_tag(@book.cover_url(:thumb).to_s, class: "shadowed")
  .right-container
    .header
      %h1= @book.title
      .actions.btn-group
        = link_to 'Read', epub_reader_book_path(@book), class: 'btn btn-info btn-responsive'
        = link_to 'Edit', edit_book_path(@book), class: 'btn btn-success btn-responsive'
        = link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-responsive'
    %hr.my-hr
    .content
      %table.table.table-nofluid.borderless
        %tr
          %td
            %strong Authors
          %td
            - @book.authors.collect do |a| 
              = link_to a.first_name + " " + a.last_name, author_path(a)
        - if @book.publishers.present?
          %tr
            %td 
              %strong Publishers
            %td= @book.publishers.collect{|p| p.name}.join(', ')
        %tr
          %td
            %strong Date of publication
          %td= @book.date_of_publication
        - if !@book.volume.nil?
          %tr
            %td
              %strong Volume
            %td= @book.volume
        %tr
          %td
            %strong Language 
          %td= @book.language
      = @book.annotation